<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Field</title>
	<link rel="stylesheet" href="../public/styles/field.css">
</head>
<body>
	<div class="container">
		<div class="field"></div>
	</div>

	<script src="../scripts/logics/Field.js"></script>
	<script src="../scripts/logics/Figures.js"></script>
	<script src="../scripts/index.js"></script>
</body>
</html>