@import "./_vars.css";

*, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

body {
	background-color: #627D8C;
}

.container {
	max-width: 400px;
	margin: 0 auto;
}

.hidden {
	display: none;
}