@import "_vars.css";

*, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

body {
	background-image: linear-gradient(to bottom, #1C2137, #3D477C);
	min-height: 100vh;
}

.container {
	max-width: 400px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.btn__primary {
	background-color: #FDFFFE;
	color: #242E61;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	padding: 10px 15px;
	font-family: var(--font-playfair);
}