@import "./_global.css";

.field {
	height: 800px;
	width: 100%;
	background-color: #BECFEA;
}

.field__list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.field__square {
	background-color: #808080;
	border: 1px solid #0C0C0D;
	width: 40px;
	height: 40px;
	color: #fff;
	font-size: 13px;
}

.btn__field {
	cursor: pointer;
	border: none;
	margin-top: 20px;
	padding: 10px 15px;
}

.figure__O {
	background-color: #FAFF00;
}

.figure__I {
	background-color: #00E4FF;
}

.figure__S {
	background-color: #F60000;
}

.figure__Z {
	background-color: #69B625;
}

.figure__L {
	background-color: #FF8D00;
}

.figure__J {
	background-color: #FF51BC;
}

.figure__T {
	background-color: #9F0096;
}

#gameOverModal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.gameOver__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px 0;
}

.gameOver__content--title {
	font-family: var(--font-playfair);
	text-transform: uppercase;
}

.gameOver__content--restart {
	background-color: var(--color--purple);
	border: none;
	border-radius: 6px;
	border-bottom: #6B3183;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 20px;
}